.sectionProjects {
  .singleProject {
  }

  .selectedProject {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
    animation: appearFromBottom 0.33s ease-out forwards;
    will-change: transform, opacity;
  }

  .blurredOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    z-index: 1;
  }

  .closeSelectedProject {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }

  @keyframes appearFromBottom {
    0% {
      transform: translate(-60%, -40%);
      opacity: 0;
    }

    100% {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }
}
