@use "../../../styles/colors" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/inheritance" as *;
@use "sass:color";

.header {
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  padding: 1rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color-text-body;

  .logo {
    font-size: 1.5rem;
    text-decoration: none;
    letter-spacing: 1.5px;
    width: fit-content;
    text-transform: uppercase;

    &:visited,
    &:link,
    &:hover {
      color: $color-primary;
    }

    &:active {
      color: color.scale($color-primary, $lightness: -5%);
    }
  }

  .navWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .downloadResume {
      @extend %resumeButton;
      padding: 0.5rem 1rem;
    }
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    @include sectionsPadding;

    .logo {
      font-size: 3rem;
    }

    .navWrapper {
      gap: 3rem;
    }

    .downloadResume {
      padding: 1rem 1.5rem !important;
      margin-right: 5rem;
    }
  }
}
