@use "../../../styles/colors" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/inheritance" as *;
@use "sass:color";

header {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: 1px solid $color-text-body;

  .logo {
    font-size: 3rem;
    text-decoration: none;
    letter-spacing: 1.5px;

    &:visited,
    &:link,
    &:hover {
      color: $color-primary;
    }

    &:active {
      color: color.scale($color-primary, $lightness: -5%);
    }
  }

  .navWrapper {
    display: flex;
    align-items: center;
    gap: 3rem;

    .downloadResume {
      @extend %resumeButton;
    }
  }
}
