@use "../../../styles/colors" as *;
@use "../../../styles/inheritance" as *;
@use "../../../styles/mixins" as *;

.footer {
  width: 100%;
  border-top: 1px solid $color-text-body;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  .linkWrapper {
    display: flex;
    justify-content: center;

    .link {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
      text-decoration: none;
      border-right: 1px solid $color-text-body;
      padding: 0 1rem;
      color: $color-text-body;

      &:hover {
        text-decoration: underline;
      }

      &:visited,
      &:link {
        color: $color-text-body;
      }

      &:nth-child(3) {
        border: 0;
      }

      .img {
        width: 1.5rem;
      }
    }
  }

  .resume,
  .resumeMobile {
    @extend %resumeButton;
    margin-left: auto;
    margin-right: auto;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    margin-top: 1rem;
  }

  .resume {
    display: none;
  }

  .note {
    color: rgba($color-text-body, 0.7);
    margin: 1rem 0;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .resumeMobile {
    display: none;
  }

  .resume {
    display: block !important;
    margin: 0 !important;
  }
}

@media (min-width: 1200px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    @include sectionsPadding;
    align-items: center;

    .link {
      gap: 0.25rem;
      margin-right: 1rem;
      padding-right: 1rem;
      padding-left: 0 !important;

      &:nth-child(3) {
        border-right: 1px solid $color-text-body !important;
      }
    }

    .resume {
      padding: 0.5rem 0.75rem;
      margin-left: 1rem !important;
    }

    .note {
      padding-right: 5rem;
      margin: 0;
    }
  }
}
