@use "../../styles/mixins" as *;
@use "../../styles/colors" as *;

.sectionContact {
  margin: 2rem 2rem 0 2rem;

  .heading {
    font-size: 1.5rem;
  }

  .secondaryText {
    margin-top: 0.25rem;
  }

  .form {
    margin-top: 0.5rem;
    max-width: 500px;

    .rowWrapper {
      display: flex;
      flex-direction: column;

      .label {
        margin-bottom: 0.25rem;
        display: inline-block;
        width: fit-content;
      }

      .input {
        margin-bottom: 0.5rem;
        padding: 0.5rem 0.25rem;
        @include roundBorder;
        border: 1px solid $color-text-body;
      }

      .input:focus {
        outline: 0;
        border: 1px solid $color-primary;
      }

      .error {
        color: $color-error;
        margin-left: 0.5rem;
      }
    }

    .button {
      border: 0;
      min-width: 6rem;
      max-height: 2rem;
      @include roundBorder;
      padding: 0.5rem;
      color: $color-background-body;
      background-color: $color-primary;
      cursor: pointer;
      @include boxShadow;

      &:active {
        @include boxShadowAction;
      }
    }

    .buttonDisabledText {
      cursor: default;
      opacity: 0.85;
      padding: 0.5rem !important;
      min-width: 6rem !important;
      max-height: 2rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;

      span {
        animation: dotBounce 1.2s infinite ease-in-out;
        border-radius: 50%;

        &:nth-child(2) {
          animation-delay: 0.15s;
        }

        &:nth-child(3) {
          animation-delay: 0.3s;
        }
      }
    }

    .error {
      margin-left: 0.25rem;
      color: $color-error;
    }
  }
}

@keyframes dotBounce {
  0% {
    transform: translateY(0) scale(1.2);
    opacity: 0.4;
  }

  50% {
    transform: translateY(-6px) scale(1.5);
    opacity: 1;
  }

  100% {
    transform: translateY(0) scale(1.2);
    opacity: 0.4;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
  .sectionContact {
    margin: 4rem 2rem 0;
    @include sectionsPadding;
  }
}
