@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;
@use "sass:color";

.sectionProjects {
  background-color: #aebab1;
  margin-top: 2rem;
  @include sectionsPadding;

  .headingWrapper {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .heading {
      font-size: 2rem;
      position: relative;
      margin-bottom: 0.75rem;
      width: fit-content;

      &::after {
        transition: all 0.2s ease-in-out;
        content: "";
        display: block;
        width: 4rem;
        height: 3px;
        background-color: $color-primary;
        @include roundBorder;
        margin: 0.5rem auto 0;
        text-align: center;
      }

      &:hover::after {
        width: 100%;
      }
    }

    .description {
      color: color.adjust($color-text-body, $lightness: 15%);
      font-size: 1.1rem;
      margin-bottom: 0;
    }
  }

  .projectsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .singleProjectWrapper {
      padding: 0 2rem;

      .singleProject {
        cursor: pointer;

        .name {
          font-size: 1.15rem;
          margin-bottom: 0.5rem;
          width: fit-content;
        }

        .img {
          width: 20rem;
          height: 10rem;
          @include roundBorder;
          @include boxShadow;
          transition: all 0.2s ease-in-out;
        }

        .img:hover {
          @include boxShadowAction;
        }
      }
    }
  }

  .selectedProject {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
    animation: appearFromBottom 0.33s ease-out forwards;
    background-color: rgba($color: $color-background-body, $alpha: 0.95);
    padding: 2rem;
    @include roundBorder;
    height: 90%;
    max-height: 90%;
    width: 70%;
    max-width: 70%;
    @include boxShadow;

    h3 {
      margin-bottom: 2rem;
      font-size: 2rem;
      color: color.scale($color-primary, $lightness: -5%);
      user-select: none;
      width: fit-content;
    }

    .mainPart {
      display: flex;
      gap: 2rem;

      .video {
        width: 600px;
        object-fit: cover;
        @include roundBorder;
      }

      .information {
        p:first-child {
          font-size: 1.5rem;
        }

        .singleTechWrapper {
          margin-top: 1rem;
          margin-left: 1rem;

          p {
            margin-bottom: 0.25rem;
            font-size: 1.15rem;
            text-decoration: none;
          }
        }

        .techWrapper {
          display: flex;
          white-space: nowrap;
          overflow-x: auto;
          margin-left: 1rem;
          align-items: center;
          margin-bottom: 0.25rem;

          img {
            margin-right: 0.15rem;
            margin-left: 0.5rem;
          }

          img:first-of-type {
            margin-left: 0 !important;
          }

          span:first-child {
            margin-right: 0.5rem;
          }

          .techImg {
            width: 1.5rem;
          }

          .techText {
            font-family: Inconsolata;
          }
        }
      }
    }

    .ghLink {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding-left: 0.5rem;
      border-left: 1px solid $color-text-body;
      width: fit-content;

      .img {
        width: 1.5rem;
      }

      .text {
        text-decoration: none;
        color: $color-text-body;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }

        &:visited,
        &:link {
          color: $color-text-body;
        }
      }
    }

    .description {
      width: 95%;
      margin: auto;
      margin-top: 1rem;
      line-height: 1.5;
    }

    .closeSelectedProject {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      padding: 0.25rem 0.5rem;
      transform: translate(50%, -50%);
      background-color: rgba($color: $color-background-body, $alpha: 0.8);
      color: $color-primary;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .blurredOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    z-index: 1;
  }

  @keyframes appearFromBottom {
    0% {
      transform: translate(-60%, -40%);
      opacity: 0;
    }

    100% {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }
}
