@use "../../styles/colors" as *;

.sectionProjects {
  position: relative;

  .singleProject {
  }

  .selectedProject {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    animation: appearFromBottom 0.33s ease-out forwards;
    will-change: transform, opacity;
    background-color: rgba($color: $color-background-body, $alpha: 0.8);
    padding: 2rem;
    border-radius: 6px;
    border-top-right-radius: 0;

    h3 {
      margin-bottom: 2rem;
      font-size: 2rem;
      color: $color-secondary;
      user-select: none;
      width: fit-content;
    }

    .selectedProjectMainPart {
      display: flex;
      gap: 2rem;

      .selectedProjectVideo {
        width: 700px;
        object-fit: cover;
      }

      .selectedProjectInformation {
        .selectedProjectFrontend {
        }

        .selectedProjectTechWrapper {
          white-space: nowrap;
          overflow-x: auto;
          margin-left: 1rem;

          .selectedProjectTech {
            font-family: Inconsolata;
          }
        }
      }
    }

    .selectedProjectDescription {
      width: 80%;
      margin-top: 1rem;
    }

    .closeSelectedProject {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      padding: 0.25rem 0.5rem;
      transform: translate(50%, -50%);
      background-color: rgba($color: $color-background-body, $alpha: 0.8);
      color: $color-primary;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .blurredOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    z-index: 1;
  }

  @keyframes appearFromBottom {
    0% {
      transform: translate(-60%, -40%);
      opacity: 0;
    }

    100% {
      transform: translate(-50%, -38%);
      opacity: 1;
    }
  }
}
