@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;
@use "sass:color";

.sectionProjects {
  background-color: $color-background-projects;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;

  .headingWrapper {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .heading {
      font-size: 2rem;
      position: relative;
      margin-bottom: 0.75rem;
      width: fit-content;

      &::after {
        transition: all 0.2s ease-in-out;
        content: "";
        display: block;
        width: 4rem;
        height: 3px;
        background-color: $color-primary;
        @include roundBorder;
        margin: 0.5rem auto 0;
        text-align: center;
      }

      &:hover::after {
        width: 100%;
      }
    }

    .description {
      color: color.adjust($color-text-body, $lightness: 15%);
      font-size: 1.1rem;
      margin-bottom: 0;
    }
  }

  .projectsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 25rem));
    row-gap: 1.5rem;

    .singleProjectWrapper {
      padding: 0 2rem;
      width: fit-content;

      .singleProject {
        cursor: pointer;

        .name {
          margin-bottom: 0.25rem;
          width: fit-content;
        }

        .img {
          width: 20rem;
          height: 10rem;
          @include roundBorder;
          @include boxShadow;
          transition: all 0.2s ease-in-out;
        }

        .img:hover {
          @include boxShadowAction;
        }
      }
    }
  }

  .selectedProject {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
    animation: appearFromBottom 0.33s ease-out forwards;
    background-color: rgba($color: $color-background-body, $alpha: 0.95);
    padding: 1rem;
    @include roundBorder;
    height: 95%;
    max-height: 95%;
    width: 95%;
    max-width: 95%;
    @include boxShadow;
    overflow-y: auto;
    overflow-x: auto;

    h3 {
      margin-bottom: 1rem;
      font-size: 1.5rem;
      color: color.scale($color-primary, $lightness: -5%);
      user-select: none;
    }

    .mainPart {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      position: relative;

      .shimmering {
        width: 20rem;
        height: 11.25rem;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(-45deg, #eee 40%, #fafafa 50%, #eee 60%);
        background-size: 300%;
        background-position-x: 100%;
        animation: shimmer 2s infinite linear;
      }

      @keyframes shimmer {
        to {
          background-position-x: 0%;
        }
      }

      .video {
        width: 20rem;
        height: 11.25rem;

        @include roundBorder;
      }
    }

    .information {
      p:first-child {
        font-size: 1.5rem;
      }

      .singleTechWrapper {
        margin-top: 0.5rem;

        .feBeDe {
          margin-bottom: 0.15rem;
          font-size: 1.15rem;
          text-decoration: none;
        }
      }

      .techWrapper {
        display: flex;
        white-space: nowrap;
        overflow-x: auto;
        margin-left: 0.5rem;
        align-items: center;
        margin-bottom: 0.15rem;

        img {
          margin-right: 0.15rem;
          margin-left: 0.5rem;
        }

        img:first-of-type {
          margin-left: 0 !important;
        }

        span:first-child {
          margin-right: 0.5rem;
        }

        .techImg {
          width: 1.5rem;
        }

        .techText {
          font-family: Inconsolata;
        }
      }
    }

    .ghLinkMobile,
    .ghLink {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding-left: 0.5rem;
      border-left: 1px solid $color-text-body;
      width: fit-content;

      .img {
        width: 1.5rem;
      }

      .text {
        text-decoration: none;
        color: $color-text-body;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }

        &:visited,
        &:link {
          color: $color-text-body;
        }
      }
    }

    .ghLink {
      display: none;
    }

    .description {
      padding-top: 0.5rem;
      margin: auto;
      margin-top: 1rem;
      line-height: 1.5;
    }

    .closeSelectedProject {
      position: fixed;
      top: 10px;
      right: 10px;
      z-index: 2;
      padding: 0.25rem 0.55rem;
      background-color: $color-primary;
      color: $color-background-body;
      cursor: pointer;
      border-radius: 50%;
    }
  }

  .blurredOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    z-index: 1;
  }

  @keyframes appearFromBottom {
    0% {
      transform: translate(-60%, -40%);
      opacity: 0;
    }

    100% {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
  .sectionProjects {
    @include sectionsPadding;

    .projectsWrapper {
      .name {
        font-size: 1.15rem;
        margin-bottom: 0.5rem !important;
      }
    }

    .selectedProject {
      padding: 2rem;
      height: 90%;
      max-height: 90%;
      width: 75%;
      max-width: 75%;

      h3 {
        margin-bottom: 2rem;
        font-size: 2rem;
        width: fit-content;
      }

      .mainPart {
        flex-direction: row;
        gap: 2rem;

        .shimmering,
        .video {
          width: 37rem;
          height: 21rem;
        }

        .ghLinkMobile {
          display: none;
        }

        .techWrapper {
          margin-left: 1rem;
        }
      }

      .ghLink {
        display: block;
        margin-top: 0.5rem;
      }

      .description {
        width: 95%;
      }
    }
  }
}
