@use "../../styles/mixins" as *;

.sectionHero {
  margin: 0 2rem;
  @include sectionsPadding;

  .heading {
    letter-spacing: 1.5px;
  }

  .introduction {
    width: 50%;
    line-height: 1.5;
    margin-top: 1rem;
  }
}
