@use "../../styles/mixins" as *;
@use "../../styles/colors" as *;

.sectionHero {
  margin: 1rem 2rem 2rem 2rem;
  padding-top: 0.5rem;

  .heading1 {
    letter-spacing: 1.5px;
    display: none;
  }

  .heading1Mobile {
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 0.25rem;
  }

  .heading3Mobile {
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-bottom: 0.75rem;
  }

  .introduction {
    line-height: 1.5;
  }

  .linksWrapper {
    display: flex;
    margin-top: 2rem;

    .link {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
      text-decoration: none;
      border-right: 1px solid $color-text-body;
      padding: 0 1rem;
      color: $color-text-body;

      &:hover {
        text-decoration: underline;
      }

      &:visited,
      &:link {
        color: $color-text-body;
      }

      &:nth-child(1) {
        padding-left: 0;
      }

      &:nth-child(2) {
        border: 0;
      }

      .img {
        width: 1.5rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .sectionHero {
    .introduction {
      width: 75%;
      line-height: 1.5;
    }
  }
}

@media (min-width: 1200px) {
  .sectionHero {
    @include sectionsPadding;
    margin: 0 2rem;

    .heading1Mobile,
    .heading3Mobile {
      display: none;
    }

    .heading1 {
      margin-bottom: 1rem;
      display: block;
    }

    .introduction {
      width: 50%;
      line-height: 1.5;
    }
  }
}
