@use "../../../styles/fonts" as *;
@use "../../../styles/colors" as *;

.navbar {
  font-family: "Lato", sans-serif;

  .navList {
    display: flex;
    list-style: none;
    gap: 0.25rem;

    .navItem {
      border-right: 1px solid $color-text-body;

      &:last-of-type {
        border-right: 0;
      }

      &:first-child .navLink {
        padding-left: 0;
      }
    }

    .navLink {
      color: $color-primary;
      padding: 1rem 0.5rem;

      &:visited,
      &:link,
      &:active,
      &:hover {
        color: $color-primary;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
  .navbar {
    font-size: 1.25rem;

    .navList {
      gap: 2rem;

      .navLink {
        padding-right: 2rem;
      }
    }
  }
}
