@use "../../../styles/fonts" as *;
@use "../../../styles/colors" as *;

.navbar {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;

  .navList {
    display: flex;
    list-style: none;
    gap: 2rem;
  }

  .navItem{
    border-right: 1px solid $color-text-body;
    padding-right:2rem;
  }

  .navItem:last-of-type {
    border-right: 0;
  }

  .navItem a {
    color: $color-primary;
  }

  .navItem:visited,
  .navLink:link,
  .navitem:active {
    color: $color-primary;
    text-decoration: none;
  }
}
