@use "./styles/colors" as *;
@use "./styles/mixins" as *;

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  scroll-behavior: smooth;
  max-width: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px !important;
  color: $color-text-body;
  position: relative;
}
