@use "../../../styles/colors" as *;

.scrollTop {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  width: 3rem;
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
  .scrollTop {
    width: 4rem;
  }
}
