@use "./styles/colors" as *;

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px !important;
  color: $color-text-body;
}
